* {
    padding: 5px;
    margin: 5px;
}

body {
    display: flex;
    min-height: 1000px;
    flex-direction: column;
    background-color: goldenrod;
}

header, footer {
    background-color: gray;
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

main {
    display: flex;
    flex: 1;
}

main aside {
    background-color: gray;
    width: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;   
}

main article {
    background-color: burlywood;
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.bingkai{
    display: flex;
    justify-content:flex-end ;
}

.bingkai img{
    width: 250px;
    margin: 1em;
}


